.btn {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	display: block;
	padding: 17px;
<<<<<<< HEAD
	background: blue;
=======
	background: black;
>>>>>>> yellow-design
	color: white;
	border: none;
}

