html, body {
	margin: 0;
	padding: 0;
}

body {
	background: #fafafa;
	font: 14px/1.3 Roboto, Arial, sans-serif;
	min-width: 980px;
}

/* Common styles. */
.center-wrapper {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 957px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
